<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- IMPORTANT: Nombre de la base de datos debe ser exactamente Db_2930312025 -->
    <add name="RecetasContext" connectionString="Server=sql-svre-01.public.6bcd68c7e66a.database.windows.net,3342;Database=Db_2930312025;User ID=user_05;Password=utec20258126;MultipleActiveResultSets=false;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="None" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
